<form action="/celebrity" method="POST">
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="ocupation">ocupation</label>
    <input type="text" name="ocupation" id="ocupation">
    <label for="catchPhrase">catch phrase</label>
    <input type="text" name="catchPhrase" id="catchPhrase">
    <button type="submit">New Celebrity</button>
</form>